:root {
    --color-box: #FFFFFF;
    --color-background: linear-gradient(165.96deg, #F8F4FF 0%, #EFF0F4 100%);
    --font-color-title:  #464646;
    --font-color-subtitle: #A3A3A3 ;
    --font-color-nav: #333333;
    --font-letter: 'Montserrat', sans-serif;
}


body {
    position: relative;
    width: 360px;
    height: 2332px;
    background: var(--color-background);
    font-family: var(--font-letter);   
}


.nav {
    position: absolute;
    width: 360px;
    height: 144px;
    left: 0px;
    top: 0px;
}

.nav-status {
    width: 360px;
    height: 33px;
    text-decoration: var(--font-color-nav);
    background-color: var(--color-box);
}

.nav-status-hour p{
    position: absolute;
    width: 36px;
    height: 22px;
    left: 16px;
    top: 5px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: var(--font-color-nav);
}

.nav-statu-img {
    display: flex;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 66.69px;
    height: 13.31px;
    left: 277px;
    top: 10px;
}

.nav-avatar {
    display: flex;
    width: 111px;
    height: 57px;
    margin-top: 33px;
    align-items: center;
    margin-left: 16px;
}

.nav-avatar img{
    width: 57px;
    height: 57px;
    left: 16px;
    top: 65px;
    border-radius: 50%;
}

.nav-avatar-title {
    margin-left: 16px;
}

.nav-avatar h1{
    width: 115px;
    height: 35px;
    left: 89px;
    top: 65px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    display: flex;
    align-items: center;
}

.nav-avatar p{
    width: 150px;
    height: 22px;
    left: 89px;
    top: 100px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
}

.nav-day {
    position: absolute;
    width: 375px;
    height: 42px;
    left: 0px;
    top: 144px;
}

.nav-day h1 {
    position: absolute;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--font-color-title);
    margin: 8px 16px;
}

.today {
    width: 360px;
    height: 566px;
    left: 0px;
    top: 186px;
}

.today-c1 {
    position: absolute;
    display: flex;
    width: 328px;
    height: 170px;
    left: 16px;
    top: 186px;
    background: var(--color-box);
    backdrop-filter: blur(22px);
    border-radius: 8px;
}

.today-c1 h1 {
    position: absolute;
    width: 94px;
    height: 22px;
    left: 64px;
    top: 16px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.today-c1 p {
    position: absolute;
    width: 101px;
    height: 19px;
    left: 88px;
    top: 38px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #A3A3A3;
}

.today-c1-img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 20.5px;
    border-radius: 16px;
}

.today-c1-img2 {
    position: absolute;
    width: 16px;
    height: 10.67px;
    left: 64px;
    top: 42.67px;
}

.today-c1-img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
}

.today-c1-img4 {
    position: absolute;
    width: 328px;
    height: 1px;
    top: 69px;
    background: #464646;
    opacity: 0.1;
}

.today-c1 h2 {
    position: absolute;
    width: 120px;
    height: 19px;
    left: 16px;
    top: 79px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-title);
}

.today-c1-button1 {
    position: absolute;
    width: 139px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: #FFB050;
    box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
    border-radius: 8px;
    border: #FFB050;
    color: #FFFFFF;
}

.today-c1-button2 {
    position: absolute;
    box-sizing: border-box;
    width: 139px;
    height: 48px;
    right: 16px;
    top: 106px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 8px;
}

.today-c2 {
    position: absolute;
    width: 328px;
    height: 170px;
    left: 16px;
    top: 372px;
    background: var(--color-box);
    backdrop-filter: blur(22px);
    border-radius: 8px;
}

.today-c2 h1 {
    position: absolute;
    width: 116px;
    height: 22px;
    left: 64px;
    top: 16px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.today-c2 p {
    position: absolute;
    width: 103px;
    height: 19px;
    left: 88px;
    top: 38px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-subtitle);
}

.today-c2-img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 20.5px;
    border-radius: 16px;
}

.today-c2-img2 {
    position: absolute;
    width: 13.33px;
    height: 16px;
    left: 64.33px;
    top: 40px;
}

.today-c2-img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
}

.today-c2-img4 {
    position: absolute;
    width: 328px;
    height: 1px;
    top: 69px;
    background: #464646;
    opacity: 0.1;
}

.today-c2 h2 {
    position: absolute;
    width: 127px;
    height: 19px;
    left: 16px;
    top: 79px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-title);
}

.today-c2-button {
    position: absolute;
    width: 296px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: #4894FF;
    box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}

.today-c3 {
    position: absolute;
    width: 328px;
    height: 170px;
    left: 16px;
    top: 558px;
    background: #FFFFFF;
    backdrop-filter: blur(22px);
    border-radius: 8px;
}

.today-c3 h1 {
    position: absolute;
    width: 110px;
    height: 22px;
    left: 64px;
    top: 16px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.today-c3 p {
    position: absolute;
    width: 101px;
    height: 19px;
    left: 88px;
    top: 38px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #A3A3A3;
}

.today-c3-img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 20.5px;
    border-radius: 16px;
}

.today-c3-img2 {
    position: absolute;
    width: 16px;
    height: 10.67px;
    left: 64px;
    top: 42.67px;
}

.today-c3-img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
}

.today-c3-img4 {
    position: absolute;
    width: 328px;
    height: 1px;
    top: 69px;
    background: #464646;
    opacity: 0.1;
}

.today-c3 h2 {
    position: absolute;
    width: 152px;
    height: 19px;
    left: 16px;
    top: 79px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-title);
}

.today-c3-button1 {
    position: absolute;
    width: 139px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: #FFB050;
    box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
    border-radius: 8px;
    border: #FFB050;
    color: #FFFFFF;
}

.today-c3-button2 {
    position: absolute;
    box-sizing: border-box;
    width: 139px;
    height: 48px;
    right: 16px;
    top: 106px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 8px;
}

.nav-day2 {
    position: absolute;
    width: 375px;
    height: 42px;
    left: 0px;
    top: 752px;
}

.nav-day2 h1 {
    position: absolute;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--font-color-title);
    margin: 8px 16px;
}

.tmw-c1 {
    position: absolute;
    width: 328px;
    height: 170px;
    left: 16px;
    top: 794px;
    background: var(--color-box);
    backdrop-filter: blur(22px);
    border-radius: 8px;
}

.tmw-c1 h1 {
    position: absolute;
    width: 116px;
    height: 22px;
    left: 64px;
    top: 16px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.tmw-c1 p {
    position: absolute;
    width: 103px;
    height: 19px;
    left: 88px;
    top: 38px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-subtitle);
}

.tmw-c1-img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 20.5px;
    border-radius: 16px;
}

.tmw-c1-img2 {
    position: absolute;
    width: 13.33px;
    height: 16px;
    left: 64.33px;
    top: 40px;
}

.tmw-c1-img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
}

.tmw-c1-img4 {
    position: absolute;
    width: 328px;
    height: 1px;
    top: 69px;
    background: #464646;
    opacity: 0.1;
}

.tmw-c1 h2 {
    position: absolute;
    width: 127px;
    height: 19px;
    left: 16px;
    top: 79px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-title);
}

.tmw-c1-button {
    position: absolute;
    width: 296px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: #4894FF;
    box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}

.tmw-c2 {
    position: absolute;
    width: 328px;
    height: 170px;
    left: 16px;
    top: 980px;
    background: #FFFFFF;
    backdrop-filter: blur(22px);
    border-radius: 8px;
}

.tmw-c2 h1 {
    position: absolute;
    width: 110px;
    height: 22px;
    left: 64px;
    top: 16px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.tmw-c2 p {
    position: absolute;
    width: 101px;
    height: 19px;
    left: 88px;
    top: 38px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #A3A3A3;
}

.tmw-c2-img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 20.5px;
    border-radius: 16px;
}

.tmw-c2-img2 {
    position: absolute;
    width: 16px;
    height: 10.67px;
    left: 64px;
    top: 42.67px;
}

.tmw-c2-img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
}

.tmw-c2-img4 {
    position: absolute;
    width: 328px;
    height: 1px;
    top: 69px;
    background: #464646;
    opacity: 0.1;
}

.tmw-c2 h2 {
    position: absolute;
    width: 152px;
    height: 19px;
    left: 16px;
    top: 79px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-title);
}

.tmw-c2-button1 {
    position: absolute;
    width: 139px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: #FFB050;
    box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
    border-radius: 8px;
    border: #FFB050;
    color: #FFFFFF;
}

.tmw-c2-button2 {
    position: absolute;
    box-sizing: border-box;
    width: 139px;
    height: 48px;
    right: 16px;
    top: 106px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 8px;
}

.tmw-c3 {
    position: absolute;
    width: 328px;
    height: 170px;
    left: 16px;
    top: 1166px;
    background: #FFFFFF;
    backdrop-filter: blur(22px);
    border-radius: 8px;
}

.tmw-c3 h1 {
    position: absolute;
    width: 110px;
    height: 22px;
    left: 64px;
    top: 16px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.tmw-c3 p {
    position: absolute;
    width: 101px;
    height: 19px;
    left: 88px;
    top: 38px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #A3A3A3;
}

.tmw-c3-img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 20.5px;
    border-radius: 16px;
}

.tmw-c3-img2 {
    position: absolute;
    width: 16px;
    height: 10.67px;
    left: 64px;
    top: 42.67px;
}

.tmw-c3-img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
}

.tmw-c3-img4 {
    position: absolute;
    width: 328px;
    height: 1px;
    top: 69px;
    background: #464646;
    opacity: 0.1;
}

.tmw-c3 h2 {
    position: absolute;
    width: 152px;
    height: 19px;
    left: 16px;
    top: 79px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-title);
}

.tmw-c3-button1 {
    position: absolute;
    width: 139px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: #FFB050;
    box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
    border-radius: 8px;
    border: #FFB050;
    color: #FFFFFF;
}

.tmw-c3-button2 {
    position: absolute;
    box-sizing: border-box;
    width: 139px;
    height: 48px;
    right: 16px;
    top: 106px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 8px;
}

.tmw-c4 {
    position: absolute;
    width: 328px;
    height: 170px;
    left: 16px;
    top: 1352px;
    background: var(--color-box);
    backdrop-filter: blur(22px);
    border-radius: 8px;
}

.tmw-c4 h1 {
    position: absolute;
    width: 116px;
    height: 22px;
    left: 64px;
    top: 16px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.tmw-c4 p {
    position: absolute;
    width: 103px;
    height: 19px;
    left: 88px;
    top: 38px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-subtitle);
}

.tmw-c4-img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 20.5px;
    border-radius: 16px;
}

.tmw-c4-img2 {
    position: absolute;
    width: 13.33px;
    height: 16px;
    left: 64.33px;
    top: 40px;
}

.tmw-c4-img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
}

.tmw-c4-img4 {
    position: absolute;
    width: 328px;
    height: 1px;
    top: 69px;
    background: #464646;
    opacity: 0.1;
}

.tmw-c4 h2 {
    position: absolute;
    width: 127px;
    height: 19px;
    left: 16px;
    top: 79px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-title);
}

.tmw-c4-button {
    position: absolute;
    width: 296px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: #4894FF;
    box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}

.nav-day3 {
    position: absolute;
    width: 360px;
    height: 42px;
    left: 16px;
    top: 1546px;
}

.nav-day3 h1 {
    position: absolute;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--font-color-title);
    margin: 8px 16px;
}

.wdd-c1 {
    position: absolute;
    width: 328px;
    height: 170px;
    left: 16px;
    top: 1588px;
    background: var(--color-box);
    backdrop-filter: blur(22px);
    border-radius: 8px;
}

.wdd-c1 h1 {
    position: absolute;
    width: 116px;
    height: 22px;
    left: 64px;
    top: 16px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.wdd-c1 p {
    position: absolute;
    width: 103px;
    height: 19px;
    left: 88px;
    top: 38px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-subtitle);
}

.wdd-c1-img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 20.5px;
    border-radius: 16px;
}

.wdd-c1-img2 {
    position: absolute;
    width: 13.33px;
    height: 16px;
    left: 64.33px;
    top: 40px;
}

.wdd-c1-img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
}

.wdd-c1-img4 {
    position: absolute;
    width: 328px;
    height: 1px;
    top: 69px;
    background: #464646;
    opacity: 0.1;
}

.wdd-c1 h2 {
    position: absolute;
    width: 127px;
    height: 19px;
    left: 16px;
    top: 79px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-title);
}

.wdd-c1-button {
    position: absolute;
    width: 296px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: #4894FF;
    box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}

.wdd-c2 {
    position: absolute;
    width: 328px;
    height: 170px;
    left: 16px;
    top: 1774px;
    background: #FFFFFF;
    backdrop-filter: blur(22px);
    border-radius: 8px;
}

.wdd-c2 h1 {
    position: absolute;
    width: 110px;
    height: 22px;
    left: 64px;
    top: 16px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.wdd-c2 p {
    position: absolute;
    width: 101px;
    height: 19px;
    left: 88px;
    top: 38px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #A3A3A3;
}

.wdd-c2-img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 20.5px;
    border-radius: 16px;
}

.wdd-c2-img2 {
    position: absolute;
    width: 16px;
    height: 10.67px;
    left: 64px;
    top: 42.67px;
}

.wdd-c2-img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
}

.wdd-c2-img4 {
    position: absolute;
    width: 328px;
    height: 1px;
    top: 69px;
    background: #464646;
    opacity: 0.1;
}

.wdd-c2 h2 {
    position: absolute;
    width: 152px;
    height: 19px;
    left: 16px;
    top: 79px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-title);
}

.wdd-c2-button1 {
    position: absolute;
    width: 139px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: #FFB050;
    box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
    border-radius: 8px;
    border: #FFB050;
    color: #FFFFFF;
}

.wdd-c2-button2 {
    position: absolute;
    box-sizing: border-box;
    width: 139px;
    height: 48px;
    right: 16px;
    top: 106px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 8px;
}

.wdd-c3 {
    position: absolute;
    width: 328px;
    height: 170px;
    left: 16px;
    top: 1960px;
    background: #FFFFFF;
    backdrop-filter: blur(22px);
    border-radius: 8px;
}

.wdd-c3 h1 {
    position: absolute;
    width: 110px;
    height: 22px;
    left: 64px;
    top: 16px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.wdd-c3 p {
    position: absolute;
    width: 101px;
    height: 19px;
    left: 88px;
    top: 38px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #A3A3A3;
}

.wdd-c3-img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 20.5px;
    border-radius: 16px;
}

.wdd-c3-img2 {
    position: absolute;
    width: 16px;
    height: 10.67px;
    left: 64px;
    top: 42.67px;
}

.wdd-c3-img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
}

.wdd-c3-img4 {
    position: absolute;
    width: 328px;
    height: 1px;
    top: 69px;
    background: #464646;
    opacity: 0.1;
}

.wdd-c3 h2 {
    position: absolute;
    width: 152px;
    height: 19px;
    left: 16px;
    top: 79px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-title);
}

.wdd-c3-button1 {
    position: absolute;
    width: 139px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: #FFB050;
    box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
    border-radius: 8px;
    border: #FFB050;
    color: #FFFFFF;
}

.wdd-c3-button2 {
    position: absolute;
    box-sizing: border-box;
    width: 139px;
    height: 48px;
    right: 16px;
    top: 106px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 8px;
}

.wdd-c4 {
    position: absolute;
    width: 328px;
    height: 170px;
    left: 16px;
    top: 2146px;
    background: var(--color-box);
    backdrop-filter: blur(22px);
    border-radius: 8px;
}

.wdd-c4 h1 {
    position: absolute;
    width: 116px;
    height: 22px;
    left: 64px;
    top: 16px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #464646;
}

.wdd-c4 p {
    position: absolute;
    width: 103px;
    height: 19px;
    left: 88px;
    top: 38px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-subtitle);
}

.wdd-c4-img1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;
    top: 20.5px;
    border-radius: 16px;
}

.wdd-c4-img2 {
    position: absolute;
    width: 13.33px;
    height: 16px;
    left: 64.33px;
    top: 40px;
}

.wdd-c4-img3 {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 16px;
    top: 16px;
}

.wdd-c4-img4 {
    position: absolute;
    width: 328px;
    height: 1px;
    top: 69px;
    background: #464646;
    opacity: 0.1;
}

.wdd-c4 h2 {
    position: absolute;
    width: 127px;
    height: 19px;
    left: 16px;
    top: 79px;
    font-family: var(--font-letter);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: var(--font-color-title);
}

.wdd-c4-button {
    position: absolute;
    width: 296px;
    height: 48px;
    left: 16px;
    top: 106px;
    background: #4894FF;
    box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
}